<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>

    <!-- Resources -->
    <!-- Fontawesome icon library Resource -->
    <link rel="stylesheet" th:href="@{/webjars/fortawesome__fontawesome-free/css/all.css}">

    <!-- Bootstrap Webjar Resource -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} " />
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body class="d-flex flex-column min-vh-100">
<!-- Insert code here -->
<!-- navbar content -->
    <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <img class="float-left img-thumbnail" alt="Logo" width="50" height="30" src="/img/logo.png"/>
            <a class="navbar-brand" href="#">Thymeleaf</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/home/index}">Home</a>
                    <a class="nav-link" th:href="@{/home/contact}">Add Contact</a>
                    <a class="nav-link" th:href="@{/home/list}">Contact List</a>
                    <a class="nav-link" th:href="@{/home/about}">About</a>
                </div>
            </div>
        </div>
    </nav>


    <div class="mx-auto"><h4>Contact List</h4>
        <table class="table table-bordered" style="width: 30rem;">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full Name</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each=" name, num : ${contacts}">
                    <th scope="row" th:text="${num.count}"></th>
                    <td th:text="${name}"></td>
                </tr>
            </tbody>
        </table>
    </div>


</body>


<footer class="page-footer font-small mt-auto" style="background-color: #e3f2fd;">
    <div class="footer-copyright text-center py-2">© 2022 Copyright: Roudabeh</div>
</footer>

</html>

